#eventLabel {
    -fx-font-size: 30;
}

#buttonsHBox {
    -fx-spacing: 5;
}

Button {
    -fx-padding: 10;
    -fx-font-size: 20;
}

HBox {
    -fx-padding: 10;
}
BorderPane {
    -fx-background-color: white;
}